<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuites name="default">
            <directory>tests/</directory>
        </testsuite>
        <testsuite name="A">
            <file>tests/test1.php</file>
        </testsuite>
        <testsuite name="B">
            <file>tests/test2.php</file>
        </testsuite>
    </testsuites>
</phpunit>
